html,
body {
    height: 100%;
    font-family: Tahoma, sans-serif;
}

body {
    margin: 0;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
}

.textbox {
    border: none;
    background-color: #dcdcdc;
    border-radius: 5px;
    font-size: 1.5vw;
    height: 3.5vw;
    padding: 0 0 0 20px;
    margin-bottom: 2vw;
    transition-timing-function: ease;
    transition: box-shadow .2s;
    width: 100%;
}

.textbox:focus {
    outline: none;
    box-shadow: 0 0 13px 1px #dcdcdc;
}

#description {
    height: 50vh;
    padding: 20px 0 0 20px;
}

.bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.buttons {
    margin-left: auto;
    flex-direction: row-reverse;
}

.buttons a {
    width: 20vw;
    height: 4vw;
    line-height: 4vw;
    font-size: 1.7vw;
    border-radius: 5px;
    color: black;
    background-color: #dcdcdc;
    text-align: center;
    text-decoration: none;
    transition-timing-function: ease;
    transition: box-shadow .2s;
    flex-direction: row-reverse !important;
}

.buttons a:hover {
    box-shadow: 0 0 13px 1px #dcdcdc;
}

.author p {
    font-size: 1.5vw;
    padding-left: 10px;
}

.author img {
    border-radius: 50%;
    max-width: 60px;
}

